<div>
  <md-select placeholder="ID type" (change)="onIdTypeChange($event.value)"
  [(ngModel)]="identity.identityType">
    <md-option *ngFor="let type of indetityTypes" [value]="type.value">
      {{type.label}}
    </md-option>
  </md-select>
</div>
<div class="id-input">
  <md-input-container class="full-width">
    <input type="text" mdInput placeholder="ID number" (change)="onIdNoChange($event.target.value)"
    [(ngModel)]="identity.identityNo">
    <md-error>ID number isn't correct</md-error>
  </md-input-container>
</div>
